[data]
email = "{{ promptString "email" "maintain0404" }}"
install_lang = {{ promptBool "install_lang" true }}
install_tool = {{ promptBool "install_tool" true }}
sudo_password = "{{ promptString "sudo_password" "" }}"
