[data]
email = "{{ promptString "email" }}"
install_lang = {{ promptBool "install_lang" }}
install_tool = {{ promptBool "install_tool" }}
use_sudo = {{ promptBool "use_sudo" }}
sudo_password = "{{ promptString "sudo_password" }}"
