{{- $editor := "cursor" -}}
{{- if lookPath "cursor" -}}
    {{- $editor = "cursor" -}}
{{- else -}}
    {{- $editor = "code" -}}
{{- end -}}
[user]
    email = {{ .email | quote }}
    name = Taein Min
[core]
    editor = {{ $editor }} --wait
[init]
    defaultBranch = main
[diff]
    tool = {{ $editor }}        
[difftool "{{ $editor }}"]
    cmd = "{{ $editor }} --wait --diff $LOCAL $REMOTE"
