#! /bin/zsh

function warn_already_installed {
    echo "\033[1;33mWarning\033[0m: $1 is already installed!!!"
}

{{ define "InstallLang" }}
# Install pyenv(Python)
if [ -d "$HOME/.pyenv" ]; then
    warn_already_installed pyenv
else
    curl https://pyenv.run | zsh
    POETRY_HOME="${HOME}/.local/share/pypoetry"
    curl -sSL https://install.python-poetry.org | python3 -
    ln -s $HOME/.local/share/pypoetry/bin/poetry $HOME/bin/poetry
fi

# Install nvm(Node.js)
if [ -d "$HOME/.nvm" ]; then
    warn_already_installed nvm
else
    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | zsh
fi

# Install gvm(Go)
if [ -d "$HOME/.gvm" ]; then
    warn_already_installed gvm
else
    zsh < <(curl -s -S -L https://raw.githubusercontent.com/moovweb/gvm/master/binscripts/gvm-installer)
fi

# Install rust
if [ -d "$HOME/.cargo" ]; then
    warn_already_installed rustup
else
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | zsh
fi

# Install sdkman(for Java, Kotlin ...).
if [ -d "$HOME/.sdkman"]; then
    warn_already_installed sdkman
else
    curl -s "https://get.sdkman.io" | bash
fi
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
{{ template "InstallLang" . }}
{{ end }}