#! /bin/bash
# Install zsh
echo "Instaling zsh..."
if [ $(command -v zsh) ]; then 
    echo "Zsh is already installed."
else
{{ if eq .chezmoi.os "linux" -}}
    apt update && apt install -y zsh
{{ else if eq .chezmoi.os "darwin" -}}
    brew install zsh
{{ end -}}
fi

# Install oh-my-zsh
echo "Installing ohmyzsh..."
if [ -d "${HOME}/.oh-my-zsh" ]; then
    echo "Oh-my-zsh is already installed."
else
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
fi
