#! /bin/bash
set +e

# Install oh-my-zsh
echo "Installing ohmyzsh..."
if [ -d "${HOME}/.oh-my-zsh" ]; then
    echo "Oh-my-zsh is already installed."
else
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
fi

# Install mise
if command -v mise &> /dev/null; then
    echo "mise is already installed."
else
    curl https://mise.run | sh
fi
