#! /bin/bash
set +e

{{ define "MacApp" }}
# Install brew if not exists.
if [ $(command -v brew) ]; then
    echo -e "\033[1;33mWarning\033[0m brew is already installed!!!"
else
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

function install_app_by_brew() {
    last_param=${!#}
    echo -e "\nChecking and installing \033[1;32m$last_param\033[0m ..."
    brew info "$last_param"
    if [ $? -ne 0 ]; then
        brew install "$@"
    fi
}

# Install karabiner-elements
install_app_by_brew karabiner-elements

# Install visual-studio-code 
install_app_by_brew visual-studio-code

# Install iterm2
install_app_by_brew --cask iterm2

# Install docker
# --force option is used to force reinstall
# https://github.com/Homebrew/brew/issues/16309
install_app_by_brew --cask --force docker

# Install raycast
install_app_by_brew --cask raycast

# Install Warp
install_app_by_brew --cask warp

# Install Maccy
install_app_by_brew --cask maccy

# Install Mas (App Store CLI)
install_app_by_brew mas

# Install Dia
install_app_by_brew --cask thebrowsercompany-dia

{{ end }}

{{ if eq .chezmoi.os "darwin" }}
{{ template "MacApp" .}}
{{ end }}
